@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
}

.main-title {
    width: 450px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
    grid-area: main-title;
    z-index: 1;
}

.for-devs-title {
    font-weight: 900;
    font-size: 20px;
    text-align: end;
}

.soft-skills-title {
    text-align: end;
}

.matrix-title {
    text-align: start;
    font-weight: 900;
    color: #00CE00;
}

.E-title {
    text-align: center;
}

.container-1 {
    margin: 0 auto;
    margin-top: 20px;
    width: 940px;
    display: grid;
    grid-template-columns: 500px 440px;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "main-title neo-and-letters"
        "first-paragraph neo-and-letters";
}

.neo-and-letters {
    grid-area: neo-and-letters;
    position: relative;
    margin-left: 25px;
}

.matrix-letters-img img {
   width: 350px;
   height: 350px;
   object-fit: cover;
   border-radius: 50%;
}

.matrix-letters-img {
    display: flex;
    position: absolute;
    z-index: 0;
    margin-left: 100px;
}

.neo-png img {
    width: 250px;
    height: 400px;
    object-fit: cover;
}

.neo-png {
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 150px;
}

.first-paragraph {
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    grid-area: first-paragraph;
    text-align: justify;
    margin-left: 60px;
}

.rectangle-1 {
    width: 50px;
    height: 450px;
    background-color: #00CE00;
    position: absolute;
    z-index: 0;
}

.skills {
    font-size: 20px;
}

.skills-table-items {
    margin-left: 60px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px 40px;
    gap: 25px; 
    grid-area: skills-table-items;
}

.title-2 h1 {
    font-weight: 900;
    z-index: 1;
}

.title-2 {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: title-2;
}

.container-2 {
    margin: 0 auto;
    margin-top: 50px;
    width: 940px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "title-2 title-2 title-2"
    "quotation-mark-1 . ."
    "skills-table skills-table skills-table"
    ;
}

.skills-table {
    margin-left: 60px;
    grid-area: skills-table;
}

.quotation-mark-1 {
    margin-top: 30px;
    grid-area: quotation-mark-1;
    width: 50px;
    height: 50px;
}

.quotation-mark-1 img {
    width: 50px;
    height: 50px;
}

.quotation-mark-2 img {
    width: 50px;
    height: 50px;
}

.quotation-mark-2 {
    margin-top: 30px;
    grid-area: quotation-mark-2;
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
}

.rectangle-2 {
    width: auto;
    height: 50px;
    background-color: #00CE00;
    z-index: 1;
}

.container-3 {
    margin: 0 auto;
    margin-top: 50px;
    width: 940px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "title-3 title-3"
    "trinity-img title-4"
    "trinity-img second-paragraph"
    ;
}

.title-3 {
    margin-left: 60px;
    grid-area: title-3;
}

.title-3 h1 {
    font-weight: 900;
    z-index: 1;
}

.trinity-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.trinity-img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-area: trinity-img;
}

.rectangle-3:last-child {
    margin-top: 150px;
}

.rectangle-3 {
    width: 50px;
    height: 50%;
    background-color: #00CE00;
}

.title-4 h1 {
    font-weight: 900;
    font-size: 60px;
    color: #00CE00;
    z-index: 1;
}

.title-4 {
    margin-top: 50px;
    margin-left: 150px;
    grid-area: title-4;
    text-align: center;
}

.second-paragraph {
    margin-left: 150px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    grid-area: second-paragraph;
    text-align: justify;
}

.title-5 {
    margin: 0 auto;
    margin-top: 50px;
    width: 940px;
    z-index: 1;
    text-align: start;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
    box-sizing: border-box;
}

.title-5 h1 {
    font-weight: 900;
    color: white;
}

.title-5 h1 span {
    font-weight: 900;
    color: #00CE00;
}

.rectangle-4 {
    width: 50px;
    height: 150px;
    background-color: #00CE00;
}

.container-4 {
    margin: 0 auto;
    margin-top: 50px;
    width: 940px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title-6 justification-paragraph morpheus-pills"
    " . justification-paragraph morpheus-pills"
    ;
}

.title-6 {
    grid-area: title-6;
    margin-left: 50px;
}

.title-6 h1 {
    font-weight: 900;
    font-size: 120px;
    color: #00CE00;
}

.justification-paragraph {
    grid-area: justification-paragraph;
    align-self: center;
    margin-left: 50px;
}

.justification-paragraph p {
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    grid-area: second-paragraph;
    text-align: justify;
}

.justification-paragraph p span {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 900;
    color: #00CE00;
}

.morpheus-pills img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin-left: 50px;
}

.morpheus-pills {
    grid-area: morpheus-pills;
}

.container-5 {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 940px;;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    " rectangle-5 final-paragraph final-paragraph"
    " rectangle-5 link-img link-img"
    " rectangle-5 final-paragraph-2 final-paragraph-2"
    ;
}

.rectangle-5 {
    grid-area: rectangle-5;
    width: 50px;
    height: auto;
    background-color: #00CE00;
    margin-right: 50px;
}

.final-paragraph {
    grid-area: final-paragraph;
    align-self: center;
    margin-block-end: 50px;
}

.final-paragraph p {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: justify;
}

.final-paragraph p span {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    color: #00CE00;
    z-index: 1;
}

.final-paragraph-2 {
    grid-area: final-paragraph-2;
    align-self: center;
    margin-top: 50px;
}

.final-paragraph-2 p {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: justify;
}

.final-paragraph-2 p span {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 900;
    color: #00CE00;
    z-index: 1;
}

.link-img img {
    width: auto;
    height: 290px;
    object-fit: cover;
    margin-left: 50px;
}

.link-img {
    grid-area: link-img;
}